.header{
	display: block;
	height: 30px;
	font-size: 14px;
}

.device-number{
	padding-right: 25%;
}

.content{
	/*display: none;*/
	height: 80px;
}

.content-switches{
	/*display: none;*/
	height: 50px;
}

.click-dropdown-field{
	cursor: pointer;
}

.links line {
  stroke: #999;
  stroke-opacity: 1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 0.1px;
}

svg{
	border: 1px solid #ccc;
}