.header{
	display: block;
	height: 30px;
	font-size: 14px;
}

.device-number{
	padding-right: 25%;
}

.content{
	/*display: none;*/
	height: 80px;
}

.content-switches{
	/*display: none;*/
	height: 80px;
}

.click-dropdown-field{
	cursor: pointer;
}

.links line {
  stroke: #999;
  stroke-opacity: 1;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 0.1px;
}

svg{
	border: 1px solid #ccc;
	float: left;
}

.legend{
	border: 1px solid #ccc;
	float: right;
	width: 150px;
	height: 80px;
	margin-top: -44%;
}

.circle-legend{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 4px;
}

.green-circle{
	background: #65C400;
}

.blue-circle{
	background: #2290EE;
}